
/* CLASES PARA EL FOOTER */

.footer{
    background-color: $colorNegro;

}


.flechita{
    text-align: right;

    svg {
        stroke: blanchedalmond;
    }
}  


    /* PRUEBA DE JERARQUIZAR ARCHIVOS */

    .footerConEsquematizacion {
        display: flex;
        justify-content: space-around;
    
    }
    
        .esquematizarArchivosSeccionUno {
            
            display: flex;
            flex-direction: column;
    
            strong {
                font-size: 20px;
                color: blanchedalmond;
            }
    
            a {
                text-decoration: none;
                margin-left: 15px;
                color: blanchedalmond;
                font-style: italic;
                font-size: 15px;
                padding: 5px;
            }
        }
    
        .esquematizarArchivosSeccionDos {
            display: flex;
            flex-direction: column;
    
            strong {
                font-size: 20px;
                color: blanchedalmond;
            }
    
            div {
                display: flex;
                flex-direction: column;
    
                a {
                margin-left: 15px;
                text-decoration: none;
                color: blanchedalmond;
                font-style: italic;
                font-size: 15px;
                padding: 5px;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    stroke: blanchedalmond;
                }
            }
            
        }


 @media (max-width:1024px) {

    .flexboxparafooter__primeraseccion {
        display: none;
    }
    .flexboxParaElMain {
        flex-direction: column;
        place-items: center;
    }
}

    @media (max-width:850px) {


        .footer {
            background-color: $colorNegro;
            margin-top: 150px;
                }
            }

@media (max-width:480px) {

    .footer {
        width: auto;
    }


    .flexboxparafooter__segundaseccion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    } 

    .esquematizarArchivosSeccionUno {
        display: none;
    }    

}  