section ol li {
    list-style-type: none;
    border: 7px;
    border-style: solid;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

    &:hover:nth-child(even) {
        animation: temblorHorizontal 0.5s 1;}

    &:hover:nth-child(odd) {
        animation: temblorVertical 0.5s 1;
    }
}

$mapColores:(primeroyquinto:$colorAmarillo,segundoysexto:$colorVerde,terceroyseptimo:$colorAzul,cuartoyoctavo:$colorRosa);

@each $bordes, $color in $mapColores{
    .#{$bordes} {
        border-color: $color;
    }
}



.sectionColorAmarillo {
    margin-bottom: 15px;
}

.agregandoExtendSectionColorAmarillo {
    @extend .sectionColorAmarillo;
        width: 600px;
        text-align: center;
        margin-left: 60px;
}

.sectionColorVerde { 
    margin-bottom: 15px;
}

.agregandoExtendSectionColorVerde {
    @extend .sectionColorVerde;
    width: 600px;
    text-align: center;
    margin-left: 650px;

}

.sectionContactoAzul {
    margin-bottom: 15px;
    width: 600px;
    text-align: center;
    margin-left: 60px;
}

.sectionContactoRosa {
    margin-bottom: 15px;
    width: 600px;
    text-align: center;
    margin-left: 650px;
}

@keyframes temblorHorizontal {
    0% {transform: translate(0px,0px);}
    10% {transform: translate(20px,0px);}
    20% {transform: translate(0px,0px);}
    30% {transform: translate(20px,0px);}
    40% {transform: translate(0px,0px);}
    50% {transform: translate(20px,0px);}
    60% {transform: translate(0px,0px);}
    70% {transform: translate(20px,0px);}
    80% {transform: translate(0px,0px);}
    90% {transform: translate(20px,0px);}
    100% {transform: translate(0px,0px);}

}

@keyframes temblorVertical {
    0% {transform: translate(0px,20px);}
    10% {transform: translate(0px,-20px);}
    20% {transform: translate(0px,20px);}
    30% {transform: translate(0px,-20px);}
    40% {transform: translate(0px,20px);}
    50% {transform: translate(0px,-20px);}
    60% {transform: translate(0px,20px);}
    70% {transform: translate(0px,-20px);}
    80% {transform: translate(0px,20px);}
    90% {transform: translate(0px,-20px);}
    100% {transform: translate(0px,20px);}

}

 @media (max-width:1185px) {

    .sectionColorVerde {
        margin-left:150px;
        width: 70%;
    }

    .sectionColorAmarillo {
        width:70%;
        margin-left:150px;
    }

    .sectionContactoRosa{
        width:70%;
        margin-left:150px;
    }

    .sectionContactoAzul {
        width:70%;
        margin-left:150px;

    }
}

@media (max-width:768px) {

.sectionColorVerde {
    margin: 10px 90px ;
    width: 70%;
}

.sectionColorAmarillo {
    margin: 10px 90px ;
    width: 70%;
}

.sectionContactoRosa{
    margin: 10px 90px ;
    width: 70%;
}

.sectionContactoAzul {
    margin: 10px 90px ;
    width: 70%;

}
}

@media (max-width:480px) {

    .sectionColorVerde {
        margin: 10px 45px ;
        width: 70%;
    }

    .sectionColorAmarillo {
        margin: 10px 45px ;
        width: 70%;
    }

    .sectionContactoRosa{
        margin: 10px 45px ;
        width: 70%;
    }

    .sectionContactoAzul {
        margin: 10px 45px ;
        width: 70%;

    }
}
 
 