header {
    box-shadow: 0 10px 25px black ;
    width: 100%;
    height: 200px;
}

.menuResponsive{
    display: none;
}


#menuHamburguesa {
    margin-top: 0px;
    margin-left: 80%;
    background-color: $colorAmarillo;
    border-color: $colorAmarillo;
    border-radius: 100px;
}

.tamañoContenedor {
    height: 100%;
}

.parallaxMenuHamburgesa{
    background-image: url("./IMAGENES/HEADER/BANNER\ CARO\ -\ RESPONSIVE.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 200px;
    
}

 .fondoListaDesplegable {
    background-color: blanchedalmond;
    height: 100%;
    border-color: blanchedalmond;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    text-align: center;   
} 


.parallax{
    background-image: url("./IMAGENES/HEADER/banner-caro-2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    ul { 
        padding: 100px;
        text-align: right;
        text-shadow: 0 5px 5px black;

    }   
}

.logoCaro {
    display: none;
}


span nav ul li{
    display: inline-block;
    margin: 0 0 0 0;

    a {
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        padding: 15px 5px;
        color: white;  
    }
}


.transicionesRosa {
    transition: all 0.5s;

    &:hover {
    font-size: 18px;
    background-color: $colorRosa;
    border-radius: 45px;
    color: white;
    }
}


.transicionesVerde {
    transition: all 0.5s;

    &:hover{
    font-size: 18px;
    background-color: $colorVerde;
    border-radius: 45px;
    color: white;
    }
}


@media (max-width:768px){
    header {
        margin-bottom: 100px;
    }
}


  @media (max-width:768px) {

    .parallax {
        display: none;
    }

    .menuResponsive {
        display: block;
    }
} 
 