/* CSS PARA LA DESCRIPCION PORTFOLIO*/

h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: bold;

   &:before {
        content: "\276D";
    padding: 5px;
    color: $colorVerde;
    }

    &:after {
        content: "\276C";
        padding: 5px;
        color: $colorAzul;
    } 
}

h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold 5px;
}


.flexboxParaElMain {
    display: flex;
    justify-content: space-evenly;

    .divEditorial {
        transition: all 0.5s;
        background-color: $colorAmarillo;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        width: 300px;
        font-size: 15px;
        line-height: 1.5;

        &:hover {
            transform: translateY(-15px);
        }

        &__img {
            margin-bottom: 10px;
        }

    }

    .divAnimacion {
        transition: all 0.5s;
        background-color: $colorVerde;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        width: 300px;
        font-size: 15px;
        line-height: 1.5;
        font-weight: bold;

        &:hover {
            transform: translateY(-15px);
        }
    }

    .divVideosInstitucionales {
        transition: all 0.5s;
        background-color: $colorAzul;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        width: 300px;
        font-size: 15px;
        line-height: 1.5;
        font-weight: bold;

        &:hover {
            transform: translateY(-15px);
        }
    }

    .divArquigrafia {
        transition: all 0.5s;
        background-color: $colorRosa;
        border-radius: 10px;  
        text-align: center;  
        padding: 10px;
        width: 300px;
        font-size: 15px;
        line-height: 1.5;
        font-weight: bold;

        &:hover {
            transform: translateY(-15px);
        }
    }

}




