
.tituloSobreMi {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: bold;
}

.tituloSobreMi::before{
    content: "\276D";
    padding: 5px;
    color: $colorVerde;
}

.tituloSobreMi::after {
    content: "\276C";
    padding: 5px;
    color: $colorAzul;
}


.grid{
    display: grid;
    grid-template-areas: "parrafoa fotoa"
                        "fotob parrafob"
                        "parrafoc fotoc";

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    font-size: 20px;

    &__parrafoa {
        grid-area: parrafoa;
    place-self: center;
    text-align: center;
    border: 5px solid $colorAmarillo;
    padding: 20px;
    transition: font-size 0.5s;

    &:hover{
        font-size: 25px;
    }
    }


    &__fotoa {
        grid-area: fotoa;
    place-self: center;
    }
    
    &__fotob{
        grid-area: fotob;
        place-self: center; 
    }

    &__parrafob {
        grid-area: parrafob;
    place-self: center;
    text-align: center;
    border: 5px solid $colorVerde ;
    padding: 20px;
    transition: font-size 0.5s;

    &:hover {
        font-size: 25px;
    }
    }

    &__fotoc{
        grid-area: fotoc;
    place-self: center;
    }

    &__parrafoc{
        grid-area: parrafoc;
    place-self: center;
    text-align: center;
    border: 5px solid $colorRosa ;
    padding: 20px;
    transition: font-size 0.5s;

    &:hover{
        font-size: 25px;
    }

    }

}
 
 @media (max-width:850px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}  